DATABASE_URL=
ANTHROPIC_API_KEY=
RAPIDAPI_KEY=
YOUTUBE_API_KEY=
AI_INTEGRATIONS_OPENAI_API_KEY=
AI_INTEGRATIONS_OPENAI_BASE_URL=
AI_INTEGRATIONS_ANTHROPIC_API_KEY=
AI_INTEGRATIONS_ANTHROPIC_BASE_URL=
SESSION_SECRET=
